body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0px;
    padding: 0;
}
.sem-con{
    box-sizing: border-box;

}
.image {
    height:60%;
    width:60%;
}
.head {
    display:flex;
    flex-direction:row;
    align-items: center;
}
hr {
width: 40%;
border: none;
height: 1px;  /* Adjust thickness */
background-color: black;  /* Change color as needed */
margin: 60px auto;  /* Center the line */
}


.college-header {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

h1, h2 {
    text-align: center;
    margin: 5px 0;
    color: #007BFF;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color: black;
}

.info-box {
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
}

.info-box p {
    margin: 5px 0;
}
.year-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.semester {
    width: 48%;
    border: 2px solid #000;
    padding: 10px;
}

.semester-title {
    background-color: #ccc;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    display: felx;
    flex-grow: 1;
}

th, td {
    border: 1px solid #000;
   
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

.signature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
}

.signature {
    width: 20%;
    text-align: center;
}

.seal {
    margin-top: 10px;
    height: 50px;
     
   
    
}
.head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.print-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.print-button:hover {
    background-color: #0056b3;
}
td{
    font-size: 15px;
}

@media print {
    body {
        font-size: 18px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Full-page height */
        margin: 0;
        padding: 0;
    }
    td{
        font-size: 30px;
        padding:0px;
    }
     tr {
        font-size: 30px;
        padding:0px;
     }


    .print-button {
        display: none;
    }
    button{
        border: 0px;
    }

    .college-header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
    }

    .content {
        margin-top: 120px;
    }
    @page {
margin: 0;
}
body {
margin: 1cm;

}
header, footer {
display: none;
}

    .print-text{
    font-size: 20px;
}

* {
    page-break-inside: avoid;
}

@page {
    size: A4;
    margin: 0;
}
}
